<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=Project2024"/>
        <listEntry value="artifactId=SeleniumFrameWork"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Project2024.SeleniumFrameWork"/>
        <listEntry value="outputDirectory=F:\Work\Udemy\05Dec2023\Workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Lenovo\AppData\Local\Temp\m2e-archetypeGenerator17277007057880713184"/>
</launchConfiguration>
